<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bullet_1_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 32}</string>
			<key>spriteSourceSize</key>
			<string>{16, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 649}, {16, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_1_bomb_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 92}, {20, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -29}</string>
			<key>spriteSize</key>
			<string>{20, 23}</string>
			<key>spriteSourceSize</key>
			<string>{98, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{896, 995}, {20, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_1_bomb_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 98}, {42, 21}}</string>
			<key>spriteOffset</key>
			<string>{1, -34}</string>
			<key>spriteSize</key>
			<string>{42, 21}</string>
			<key>spriteSourceSize</key>
			<string>{98, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 995}, {42, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_1_bomb_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 96}, {52, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -35}</string>
			<key>spriteSize</key>
			<string>{52, 27}</string>
			<key>spriteSourceSize</key>
			<string>{98, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 995}, {52, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_1_bomb_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 22}, {94, 125}}</string>
			<key>spriteOffset</key>
			<string>{-2, -10}</string>
			<key>spriteSize</key>
			<string>{94, 125}</string>
			<key>spriteSourceSize</key>
			<string>{98, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1188, 0}, {94, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_1_bomb_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {98, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -7}</string>
			<key>spriteSize</key>
			<string>{98, 135}</string>
			<key>spriteSourceSize</key>
			<string>{98, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1088, 0}, {98, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_1_bomb_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {94, 125}}</string>
			<key>spriteOffset</key>
			<string>{-2, 10}</string>
			<key>spriteSize</key>
			<string>{94, 125}</string>
			<key>spriteSourceSize</key>
			<string>{98, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1116, 208}, {94, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_2_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{25, 49}</string>
			<key>spriteSourceSize</key>
			<string>{25, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{739, 440}, {25, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_2_bomb_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{111, 210}, {162, 98}}</string>
			<key>spriteOffset</key>
			<string>{-6, -103}</string>
			<key>spriteSize</key>
			<string>{162, 98}</string>
			<key>spriteSourceSize</key>
			<string>{396, 312}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{996, 446}, {162, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_2_bomb_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{105, 0}, {210, 78}}</string>
			<key>spriteOffset</key>
			<string>{12, 117}</string>
			<key>spriteSize</key>
			<string>{210, 78}</string>
			<key>spriteSourceSize</key>
			<string>{396, 312}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{860, 649}, {210, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_2_bomb_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{112, 0}, {226, 90}}</string>
			<key>spriteOffset</key>
			<string>{27, 111}</string>
			<key>spriteSize</key>
			<string>{226, 90}</string>
			<key>spriteSourceSize</key>
			<string>{396, 312}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{898, 354}, {226, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_2_bomb_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 73}, {272, 232}}</string>
			<key>spriteOffset</key>
			<string>{-2, -33}</string>
			<key>spriteSize</key>
			<string>{272, 232}</string>
			<key>spriteSourceSize</key>
			<string>{396, 312}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{326, 512}, {272, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_2_bomb_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 134}, {324, 178}}</string>
			<key>spriteOffset</key>
			<string>{-3, -67}</string>
			<key>spriteSize</key>
			<string>{324, 178}</string>
			<key>spriteSourceSize</key>
			<string>{396, 312}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 268}, {324, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_2_bomb_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 39}, {396, 266}}</string>
			<key>spriteOffset</key>
			<string>{0, -16}</string>
			<key>spriteSize</key>
			<string>{396, 266}</string>
			<key>spriteSourceSize</key>
			<string>{396, 312}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {396, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_2_bomb_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 57}, {324, 252}}</string>
			<key>spriteOffset</key>
			<string>{-3, -27}</string>
			<key>spriteSize</key>
			<string>{324, 252}</string>
			<key>spriteSourceSize</key>
			<string>{396, 312}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 512}, {324, 252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_2_bomb_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 45}, {346, 242}}</string>
			<key>spriteOffset</key>
			<string>{2, -10}</string>
			<key>spriteSize</key>
			<string>{346, 242}</string>
			<key>spriteSourceSize</key>
			<string>{396, 312}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 268}, {346, 242}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_2_bomb_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{75, 21}, {240, 194}}</string>
			<key>spriteOffset</key>
			<string>{-3, 38}</string>
			<key>spriteSize</key>
			<string>{240, 194}</string>
			<key>spriteSourceSize</key>
			<string>{396, 312}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{600, 498}, {240, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_2_bomb_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 24}, {222, 180}}</string>
			<key>spriteOffset</key>
			<string>{6, 42}</string>
			<key>spriteSize</key>
			<string>{222, 180}</string>
			<key>spriteSourceSize</key>
			<string>{396, 312}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{674, 258}, {222, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_2_bomb_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{102, 3}, {216, 122}}</string>
			<key>spriteOffset</key>
			<string>{12, 92}</string>
			<key>spriteSize</key>
			<string>{216, 122}</string>
			<key>spriteSourceSize</key>
			<string>{396, 312}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{898, 230}, {216, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_3_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 75}</string>
			<key>spriteSourceSize</key>
			<string>{28, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1188, 127}, {28, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_3_bomb_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 0}, {28, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{28, 70}</string>
			<key>spriteSourceSize</key>
			<string>{80, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1072, 640}, {28, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_3_bomb_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {70, 62}}</string>
			<key>spriteOffset</key>
			<string>{1, -6}</string>
			<key>spriteSize</key>
			<string>{70, 62}</string>
			<key>spriteSourceSize</key>
			<string>{80, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 448}, {70, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_3_bomb_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 27}, {68, 48}}</string>
			<key>spriteOffset</key>
			<string>{3, -12}</string>
			<key>spriteSize</key>
			<string>{68, 48}</string>
			<key>spriteSourceSize</key>
			<string>{80, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{567, 448}, {68, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_3_bomb_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 34}, {66, 44}}</string>
			<key>spriteOffset</key>
			<string>{1, -17}</string>
			<key>spriteSize</key>
			<string>{66, 44}</string>
			<key>spriteSourceSize</key>
			<string>{80, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{637, 448}, {66, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_3_bomb_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 26}, {80, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -13}</string>
			<key>spriteSize</key>
			<string>{80, 52}</string>
			<key>spriteSourceSize</key>
			<string>{80, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 448}, {80, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_4_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 31}</string>
			<key>spriteSourceSize</key>
			<string>{18, 31}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{840, 440}, {18, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_4_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 31}</string>
			<key>spriteSourceSize</key>
			<string>{18, 31}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{800, 440}, {18, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_4_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 31}</string>
			<key>spriteSourceSize</key>
			<string>{18, 31}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{820, 440}, {18, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_4_bomb_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 14}, {22, 23}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{22, 23}</string>
			<key>spriteSourceSize</key>
			<string>{50, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{872, 995}, {22, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_4_bomb_1_bigbang.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 26}, {47, 43}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{47, 43}</string>
			<key>spriteSourceSize</key>
			<string>{65, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 694}, {47, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_4_bomb_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 8}, {32, 31}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{32, 31}</string>
			<key>spriteSourceSize</key>
			<string>{50, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{766, 440}, {32, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_4_bomb_2_bigbang.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 14}, {63, 55}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{63, 55}</string>
			<key>spriteSourceSize</key>
			<string>{65, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{502, 448}, {63, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_4_bomb_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {46, 45}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{46, 45}</string>
			<key>spriteSourceSize</key>
			<string>{50, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{704, 694}, {46, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_4_bomb_3_bigbang.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{65, 69}</string>
			<key>spriteSourceSize</key>
			<string>{65, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1088, 137}, {65, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_4_bomb_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 49}</string>
			<key>spriteSourceSize</key>
			<string>{50, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{600, 694}, {50, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 36}</string>
			<key>spriteSourceSize</key>
			<string>{42, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{801, 694}, {42, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_5_shadow.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 44}</string>
			<key>spriteSourceSize</key>
			<string>{50, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{652, 694}, {50, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_6_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {53, 110}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{53, 110}</string>
			<key>spriteSourceSize</key>
			<string>{55, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1032, 729}, {53, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_6_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {49, 110}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{49, 110}</string>
			<key>spriteSourceSize</key>
			<string>{55, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1032, 841}, {49, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_6_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 3}, {33, 106}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{33, 106}</string>
			<key>spriteSourceSize</key>
			<string>{55, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1087, 712}, {33, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_6_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 3}, {41, 108}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{41, 108}</string>
			<key>spriteSourceSize</key>
			<string>{55, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1126, 335}, {41, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_7_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {40, 92}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{40, 92}</string>
			<key>spriteSourceSize</key>
			<string>{42, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1083, 841}, {40, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_7_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {38, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 92}</string>
			<key>spriteSourceSize</key>
			<string>{42, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1128, 546}, {38, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_7_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 92}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{38, 92}</string>
			<key>spriteSourceSize</key>
			<string>{42, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1122, 640}, {38, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_7_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {40, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 92}</string>
			<key>spriteSourceSize</key>
			<string>{42, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1086, 546}, {40, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_7_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {36, 92}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{36, 92}</string>
			<key>spriteSourceSize</key>
			<string>{42, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1160, 445}, {36, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 54}</string>
			<key>spriteSourceSize</key>
			<string>{32, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{705, 440}, {32, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_9_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{83, 51}, {88, 92}}</string>
			<key>spriteOffset</key>
			<string>{-1, 31}</string>
			<key>spriteSize</key>
			<string>{88, 92}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{996, 546}, {88, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_9_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{62, 6}, {152, 174}}</string>
			<key>spriteOffset</key>
			<string>{10, 35}</string>
			<key>spriteSize</key>
			<string>{152, 174}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 473}, {152, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_9_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 13}, {204, 228}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{204, 228}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{882, 0}, {204, 228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_9_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {246, 248}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{246, 248}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 0}, {246, 248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_9_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {256, 256}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{256, 256}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 746}, {256, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_9_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {256, 254}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{256, 254}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 739}, {256, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_9_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {256, 256}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{256, 256}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 766}, {256, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_9_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {256, 256}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{256, 256}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 766}, {256, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_9_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 0}, {234, 256}}</string>
			<key>spriteOffset</key>
			<string>{6, -0}</string>
			<key>spriteSize</key>
			<string>{234, 256}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{646, 0}, {234, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>td_bullet_sprites</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>hd</string>
			<key>textureFileName</key>
			<string>td_bullet_sprites-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>td_bullet_sprites-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>