<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>arrow_path.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1003, 395}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>begin.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{185, 866}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {6, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{6, 63}</string>
			<key>spriteSourceSize</key>
			<string>{6, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 206}, {6, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 63}</string>
			<key>spriteSourceSize</key>
			<string>{21, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1003, 265}, {21, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 63}</string>
			<key>spriteSourceSize</key>
			<string>{38, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 865}, {38, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 63}</string>
			<key>spriteSourceSize</key>
			<string>{57, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 295}, {57, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {6, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{6, 64}</string>
			<key>spriteSourceSize</key>
			<string>{6, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{830, 141}, {6, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 64}</string>
			<key>spriteSourceSize</key>
			<string>{20, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1003, 330}, {20, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 64}</string>
			<key>spriteSourceSize</key>
			<string>{38, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 799}, {38, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{55, 64}</string>
			<key>spriteSourceSize</key>
			<string>{55, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 360}, {55, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {5, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{5, 63}</string>
			<key>spriteSourceSize</key>
			<string>{5, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 271}, {5, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {14, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 63}</string>
			<key>spriteSourceSize</key>
			<string>{14, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1003, 414}, {14, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{25, 63}</string>
			<key>spriteSourceSize</key>
			<string>{25, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{113, 673}, {25, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 63}</string>
			<key>spriteSourceSize</key>
			<string>{36, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{485, 799}, {36, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{9, 68}</string>
			<key>spriteSourceSize</key>
			<string>{9, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{113, 738}, {9, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 68}</string>
			<key>spriteSourceSize</key>
			<string>{39, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{389, 772}, {39, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 68}</string>
			<key>spriteSourceSize</key>
			<string>{75, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 852}, {75, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {112, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{112, 68}</string>
			<key>spriteSourceSize</key>
			<string>{112, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 673}, {112, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {153, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{153, 76}</string>
			<key>spriteSourceSize</key>
			<string>{153, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 583}, {153, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {186, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{186, 60}</string>
			<key>spriteSourceSize</key>
			<string>{186, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{837, 204}, {186, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>create_no.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {38, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 38}</string>
			<key>spriteSourceSize</key>
			<string>{40, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{278, 858}, {38, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>create_yes.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {38, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 38}</string>
			<key>spriteSourceSize</key>
			<string>{40, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{317, 858}, {38, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>creating.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{40, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{285, 737}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>diamond.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 866}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 16}, {74, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{74, 66}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 921}, {74, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 16}, {74, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{74, 66}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{466, 661}, {74, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 2}, {74, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 8}</string>
			<key>spriteSize</key>
			<string>{74, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 917}, {74, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 19}, {74, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 62}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{506, 729}, {74, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 19}, {74, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 62}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 929}, {74, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 19}, {74, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 62}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{542, 661}, {74, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 16}, {74, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{74, 66}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{430, 731}, {74, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 12}, {74, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{74, 70}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{285, 661}, {74, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 9}, {74, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 5}</string>
			<key>spriteSize</key>
			<string>{74, 72}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{261, 784}, {74, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {74, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 6}</string>
			<key>spriteSize</key>
			<string>{74, 76}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 897}, {74, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 2}, {74, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 8}</string>
			<key>spriteSize</key>
			<string>{74, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 565}, {74, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 2}, {74, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 8}</string>
			<key>spriteSize</key>
			<string>{74, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{185, 785}, {74, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 2}, {74, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 8}</string>
			<key>spriteSize</key>
			<string>{74, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 899}, {74, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 2}, {74, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 8}</string>
			<key>spriteSize</key>
			<string>{74, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{109, 818}, {74, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fail_prompt.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 27}</string>
			<key>spriteSourceSize</key>
			<string>{250, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{579, 141}, {250, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover_anim_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 70}, {62, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 13}</string>
			<key>spriteSize</key>
			<string>{62, 56}</string>
			<key>spriteSourceSize</key>
			<string>{248, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{820, 421}, {62, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover_anim_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 49}, {108, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, 13}</string>
			<key>spriteSize</key>
			<string>{108, 98}</string>
			<key>spriteSourceSize</key>
			<string>{248, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 818}, {108, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover_anim_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 29}, {156, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 13}</string>
			<key>spriteSize</key>
			<string>{156, 138}</string>
			<key>spriteSourceSize</key>
			<string>{248, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 443}, {156, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover_anim_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 8}, {202, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 13}</string>
			<key>spriteSize</key>
			<string>{202, 180}</string>
			<key>spriteSourceSize</key>
			<string>{248, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{820, 479}, {202, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover_anim_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{248, 222}</string>
			<key>spriteSourceSize</key>
			<string>{248, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{579, 169}, {248, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover_anim_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 59}, {234, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -26}</string>
			<key>spriteSize</key>
			<string>{234, 156}</string>
			<key>spriteSourceSize</key>
			<string>{248, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 295}, {234, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover_fail_btn_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {243, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{243, 156}</string>
			<key>spriteSourceSize</key>
			<string>{243, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 393}, {243, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover_fail_btn_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {243, 161}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{243, 161}</string>
			<key>spriteSourceSize</key>
			<string>{243, 161}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 281}, {243, 161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover_reward.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {139, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{139, 27}</string>
			<key>spriteSourceSize</key>
			<string>{139, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 645}, {139, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 785}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_drop_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 67}</string>
			<key>spriteSourceSize</key>
			<string>{32, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{542, 311}, {32, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_drop_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 30}, {32, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -15}</string>
			<key>spriteSize</key>
			<string>{32, 37}</string>
			<key>spriteSourceSize</key>
			<string>{32, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{542, 380}, {32, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_drop_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 50}, {32, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, -25}</string>
			<key>spriteSize</key>
			<string>{32, 17}</string>
			<key>spriteSourceSize</key>
			<string>{32, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{359, 754}, {32, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_drop_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 44}, {32, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -22}</string>
			<key>spriteSize</key>
			<string>{32, 23}</string>
			<key>spriteSourceSize</key>
			<string>{32, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{542, 418}, {32, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_drop_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>gold_drop_10.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 50}, {32, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, -25}</string>
			<key>spriteSize</key>
			<string>{32, 17}</string>
			<key>spriteSourceSize</key>
			<string>{32, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{326, 763}, {32, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_drop_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 50}, {32, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, -25}</string>
			<key>spriteSize</key>
			<string>{32, 17}</string>
			<key>spriteSourceSize</key>
			<string>{32, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{390, 731}, {32, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_drop_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 46}, {32, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -23}</string>
			<key>spriteSize</key>
			<string>{32, 21}</string>
			<key>spriteSourceSize</key>
			<string>{32, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{357, 732}, {32, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_drop_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 46}, {32, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -23}</string>
			<key>spriteSize</key>
			<string>{32, 21}</string>
			<key>spriteSourceSize</key>
			<string>{32, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{542, 463}, {32, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_drop_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 46}, {32, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -23}</string>
			<key>spriteSize</key>
			<string>{32, 21}</string>
			<key>spriteSourceSize</key>
			<string>{32, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{542, 442}, {32, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_hp.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 26}</string>
			<key>spriteSourceSize</key>
			<string>{24, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 452}, {24, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>loss_hp_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 14}, {23, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{23, 20}</string>
			<key>spriteSourceSize</key>
			<string>{51, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 504}, {23, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>loss_hp_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {33, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{33, 30}</string>
			<key>spriteSourceSize</key>
			<string>{51, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{542, 281}, {33, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>loss_hp_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {41, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{41, 36}</string>
			<key>spriteSourceSize</key>
			<string>{51, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 974}, {41, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monster.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 785}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pause.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{326, 732}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>range.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {280, 280}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{280, 280}</string>
			<key>spriteSourceSize</key>
			<string>{280, 280}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 0}, {280, 280}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_easy.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 46}</string>
			<key>spriteSourceSize</key>
			<string>{45, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 974}, {45, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_hard.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 46}</string>
			<key>spriteSourceSize</key>
			<string>{45, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 737}, {45, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 46}</string>
			<key>spriteSourceSize</key>
			<string>{45, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 737}, {45, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rotation_light.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {297, 294}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{297, 294}</string>
			<key>spriteSourceSize</key>
			<string>{297, 294}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {297, 294}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>setting.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 866}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>setting_choosepass.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{111, 47}</string>
			<key>spriteSourceSize</key>
			<string>{111, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{882, 421}, {111, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>setting_close.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 24}</string>
			<key>spriteSourceSize</key>
			<string>{44, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 998}, {44, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>setting_game_again.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{111, 47}</string>
			<key>spriteSourceSize</key>
			<string>{111, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 742}, {111, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>setting_open.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 24}</string>
			<key>spriteSourceSize</key>
			<string>{44, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{107, 998}, {44, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>setting_panel.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {259, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{259, 140}</string>
			<key>spriteSourceSize</key>
			<string>{259, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{579, 0}, {259, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>show_win_anim_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 55}, {209, 192}}</string>
			<key>spriteOffset</key>
			<string>{-14, -4}</string>
			<key>spriteSize</key>
			<string>{209, 192}</string>
			<key>spriteSourceSize</key>
			<string>{297, 294}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 452}, {209, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>show_win_anim_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 73}, {167, 154}}</string>
			<key>spriteOffset</key>
			<string>{-11, -3}</string>
			<key>spriteSize</key>
			<string>{167, 154}</string>
			<key>spriteSourceSize</key>
			<string>{297, 294}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{835, 265}, {167, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>show_win_anim_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{78, 90}, {127, 116}}</string>
			<key>spriteOffset</key>
			<string>{-7, -1}</string>
			<key>spriteSize</key>
			<string>{127, 116}</string>
			<key>spriteSourceSize</key>
			<string>{297, 294}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 485}, {127, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>show_win_anim_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{101, 102}, {93, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{93, 90}</string>
			<key>spriteSourceSize</key>
			<string>{297, 294}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 646}, {93, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>show_win_anim_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 102}, {89, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{89, 90}</string>
			<key>spriteSourceSize</key>
			<string>{297, 294}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 917}, {89, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 24}</string>
			<key>spriteSourceSize</key>
			<string>{24, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 479}, {24, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>teaching_explain_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {97, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{97, 26}</string>
			<key>spriteSourceSize</key>
			<string>{97, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 443}, {97, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>teaching_explain_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {109, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{109, 26}</string>
			<key>spriteSourceSize</key>
			<string>{109, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 791}, {109, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>teaching_explain_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 12}</string>
			<key>spriteSourceSize</key>
			<string>{106, 12}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1007}, {106, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>teaching_frame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {184, 203}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{184, 203}</string>
			<key>spriteSourceSize</key>
			<string>{184, 203}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{839, 0}, {184, 203}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>teaching_hand.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 42}</string>
			<key>spriteSourceSize</key>
			<string>{50, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{197, 980}, {50, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_1_model_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{51, 69}</string>
			<key>spriteSourceSize</key>
			<string>{51, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{235, 495}, {51, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_1_model_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{51, 69}</string>
			<key>spriteSourceSize</key>
			<string>{51, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{337, 782}, {51, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_2_model_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{51, 69}</string>
			<key>spriteSourceSize</key>
			<string>{51, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{361, 661}, {51, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_2_model_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{51, 69}</string>
			<key>spriteSourceSize</key>
			<string>{51, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{139, 715}, {51, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_3_model_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{51, 69}</string>
			<key>spriteSourceSize</key>
			<string>{51, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 425}, {51, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_3_model_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{51, 69}</string>
			<key>spriteSourceSize</key>
			<string>{51, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 645}, {51, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_4_model_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{51, 69}</string>
			<key>spriteSourceSize</key>
			<string>{51, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 661}, {51, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_4_model_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{51, 69}</string>
			<key>spriteSourceSize</key>
			<string>{51, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 897}, {51, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>td_ctrl_sprites</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>sd</string>
			<key>textureFileName</key>
			<string>td_ctrl_sprites</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>td_ctrl_sprites</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>