<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>arrow_path.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 36}</string>
			<key>spriteSourceSize</key>
			<string>{36, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2006, 791}, {36, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>begin.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 1733}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {12, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{12, 127}</string>
			<key>spriteSourceSize</key>
			<string>{12, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1656, 413}, {12, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 127}</string>
			<key>spriteSourceSize</key>
			<string>{42, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2006, 531}, {42, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {77, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{77, 127}</string>
			<key>spriteSourceSize</key>
			<string>{77, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{893, 1730}, {77, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 127}</string>
			<key>spriteSourceSize</key>
			<string>{114, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{472, 591}, {114, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {12, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{12, 129}</string>
			<key>spriteSourceSize</key>
			<string>{12, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1661, 282}, {12, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 129}</string>
			<key>spriteSourceSize</key>
			<string>{41, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2006, 660}, {41, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 129}</string>
			<key>spriteSourceSize</key>
			<string>{76, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{893, 1599}, {76, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{111, 129}</string>
			<key>spriteSourceSize</key>
			<string>{111, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{472, 720}, {111, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {10, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{10, 127}</string>
			<key>spriteSourceSize</key>
			<string>{10, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1656, 542}, {10, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {29, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{29, 127}</string>
			<key>spriteSourceSize</key>
			<string>{29, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2006, 829}, {29, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{51, 127}</string>
			<key>spriteSourceSize</key>
			<string>{51, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 1347}, {51, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{73, 127}</string>
			<key>spriteSourceSize</key>
			<string>{73, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{971, 1599}, {73, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 136}</string>
			<key>spriteSourceSize</key>
			<string>{18, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 1476}, {18, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 136}</string>
			<key>spriteSourceSize</key>
			<string>{79, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{779, 1545}, {79, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 136}</string>
			<key>spriteSourceSize</key>
			<string>{150, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{741, 1704}, {150, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {224, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{224, 136}</string>
			<key>spriteSourceSize</key>
			<string>{224, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1347}, {224, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {306, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{306, 152}</string>
			<key>spriteSourceSize</key>
			<string>{306, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 1167}, {306, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {372, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{372, 120}</string>
			<key>spriteSourceSize</key>
			<string>{372, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1675, 409}, {372, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>create_no.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {76, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 76}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{556, 1717}, {76, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>create_yes.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {76, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 76}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{634, 1717}, {76, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>creating.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 80}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 1474}, {80, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>diamond.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{432, 1733}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 30}, {150, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{150, 134}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{741, 1842}, {150, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 30}, {150, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{150, 134}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{933, 1323}, {150, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 4}, {150, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{150, 160}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 1834}, {150, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 38}, {150, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{150, 126}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1012, 1459}, {150, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 38}, {150, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{150, 126}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{893, 1859}, {150, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 38}, {150, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{150, 126}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1085, 1323}, {150, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 30}, {150, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{150, 134}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{860, 1463}, {150, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 24}, {150, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 6}</string>
			<key>spriteSize</key>
			<string>{150, 140}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{571, 1323}, {150, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 18}, {150, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, 9}</string>
			<key>spriteSize</key>
			<string>{150, 146}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{522, 1569}, {150, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 11}, {150, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 13}</string>
			<key>spriteSize</key>
			<string>{150, 152}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 1795}, {150, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 4}, {150, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{150, 160}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 1131}, {150, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 4}, {150, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{150, 160}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 1571}, {150, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 4}, {150, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{150, 160}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{332, 1799}, {150, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exit_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 4}, {150, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{150, 160}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 1637}, {150, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fail_prompt.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {501, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{501, 55}</string>
			<key>spriteSourceSize</key>
			<string>{501, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1158, 282}, {501, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover_anim_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{186, 140}, {122, 111}}</string>
			<key>spriteOffset</key>
			<string>{-1, 27}</string>
			<key>spriteSize</key>
			<string>{122, 111}</string>
			<key>spriteSourceSize</key>
			<string>{496, 445}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1641, 842}, {122, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover_anim_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{139, 99}, {216, 195}}</string>
			<key>spriteOffset</key>
			<string>{-1, 26}</string>
			<key>spriteSize</key>
			<string>{216, 195}</string>
			<key>spriteSourceSize</key>
			<string>{496, 445}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1637}, {216, 195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover_anim_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 58}, {310, 279}}</string>
			<key>spriteOffset</key>
			<string>{0, 25}</string>
			<key>spriteSize</key>
			<string>{310, 279}</string>
			<key>spriteSourceSize</key>
			<string>{496, 445}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{577, 886}, {310, 279}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover_anim_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 15}, {404, 363}}</string>
			<key>spriteOffset</key>
			<string>{-1, 26}</string>
			<key>spriteSize</key>
			<string>{404, 363}</string>
			<key>spriteSourceSize</key>
			<string>{496, 445}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1641, 958}, {404, 363}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover_anim_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {496, 445}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{496, 445}</string>
			<key>spriteSourceSize</key>
			<string>{496, 445}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1158, 339}, {496, 445}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover_anim_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 120}, {470, 311}}</string>
			<key>spriteOffset</key>
			<string>{1, -53}</string>
			<key>spriteSize</key>
			<string>{470, 311}</string>
			<key>spriteSourceSize</key>
			<string>{496, 445}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 591}, {470, 311}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover_fail_btn_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {487, 312}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{487, 312}</string>
			<key>spriteSourceSize</key>
			<string>{487, 312}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1152, 786}, {487, 312}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover_fail_btn_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {487, 322}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{487, 322}</string>
			<key>spriteSourceSize</key>
			<string>{487, 322}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{596, 562}, {487, 322}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover_reward.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {278, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{278, 54}</string>
			<key>spriteSourceSize</key>
			<string>{278, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1291}, {278, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{308, 1571}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_drop_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{65, 135}</string>
			<key>spriteSourceSize</key>
			<string>{65, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1085, 623}, {65, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_drop_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 60}, {65, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -30}</string>
			<key>spriteSize</key>
			<string>{65, 75}</string>
			<key>spriteSourceSize</key>
			<string>{65, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1085, 760}, {65, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_drop_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 100}, {65, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -50}</string>
			<key>spriteSize</key>
			<string>{65, 35}</string>
			<key>spriteSourceSize</key>
			<string>{65, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{719, 1508}, {65, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_drop_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 90}, {65, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -45}</string>
			<key>spriteSize</key>
			<string>{65, 45}</string>
			<key>spriteSourceSize</key>
			<string>{65, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1085, 837}, {65, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_drop_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>gold_drop_10.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 100}, {65, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -50}</string>
			<key>spriteSize</key>
			<string>{65, 35}</string>
			<key>spriteSourceSize</key>
			<string>{65, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{652, 1527}, {65, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_drop_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 100}, {65, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -50}</string>
			<key>spriteSize</key>
			<string>{65, 35}</string>
			<key>spriteSourceSize</key>
			<string>{65, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{781, 1463}, {65, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_drop_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 94}, {65, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -47}</string>
			<key>spriteSize</key>
			<string>{65, 41}</string>
			<key>spriteSourceSize</key>
			<string>{65, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{714, 1465}, {65, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_drop_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 94}, {65, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -47}</string>
			<key>spriteSize</key>
			<string>{65, 41}</string>
			<key>spriteSourceSize</key>
			<string>{65, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1085, 927}, {65, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_drop_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 94}, {65, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -47}</string>
			<key>spriteSize</key>
			<string>{65, 41}</string>
			<key>spriteSourceSize</key>
			<string>{65, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1085, 884}, {65, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_hp.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 53}</string>
			<key>spriteSourceSize</key>
			<string>{48, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 904}, {48, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>loss_hp_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 29}, {44, 41}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{44, 41}</string>
			<key>spriteSourceSize</key>
			<string>{102, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 1009}, {44, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>loss_hp_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 19}, {68, 59}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{68, 59}</string>
			<key>spriteSourceSize</key>
			<string>{102, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1085, 562}, {68, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>loss_hp_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 11}, {82, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{82, 75}</string>
			<key>spriteSourceSize</key>
			<string>{102, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{589, 1949}, {82, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monster.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 1571}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pause.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{652, 1465}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>range.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {560, 560}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{560, 560}</string>
			<key>spriteSourceSize</key>
			<string>{560, 560}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{596, 0}, {560, 560}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_easy.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{91, 93}</string>
			<key>spriteSourceSize</key>
			<string>{91, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{496, 1949}, {91, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_hard.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{91, 93}</string>
			<key>spriteSourceSize</key>
			<string>{91, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{477, 1474}, {91, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{91, 93}</string>
			<key>spriteSourceSize</key>
			<string>{91, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 1474}, {91, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rotation_light.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {594, 589}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{594, 589}</string>
			<key>spriteSourceSize</key>
			<string>{594, 589}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {594, 589}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>setting.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{494, 1733}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>setting_choosepass.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {222, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{222, 95}</string>
			<key>spriteSourceSize</key>
			<string>{222, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1765, 842}, {222, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>setting_close.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {88, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{88, 49}</string>
			<key>spriteSourceSize</key>
			<string>{88, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 1996}, {88, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>setting_game_again.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {222, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{222, 95}</string>
			<key>spriteSourceSize</key>
			<string>{222, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1485}, {222, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>setting_open.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {88, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{88, 49}</string>
			<key>spriteSourceSize</key>
			<string>{88, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 1996}, {88, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>setting_panel.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {519, 280}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{519, 280}</string>
			<key>spriteSourceSize</key>
			<string>{519, 280}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1158, 0}, {519, 280}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>show_win_anim_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 110}, {418, 385}}</string>
			<key>spriteOffset</key>
			<string>{-28, -8}</string>
			<key>spriteSize</key>
			<string>{418, 385}</string>
			<key>spriteSourceSize</key>
			<string>{594, 589}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 904}, {418, 385}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>show_win_anim_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 147}, {334, 309}}</string>
			<key>spriteOffset</key>
			<string>{-22, -7}</string>
			<key>spriteSize</key>
			<string>{334, 309}</string>
			<key>spriteSourceSize</key>
			<string>{594, 589}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1670, 531}, {334, 309}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>show_win_anim_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{157, 181}, {252, 231}}</string>
			<key>spriteOffset</key>
			<string>{-14, -2}</string>
			<key>spriteSize</key>
			<string>{252, 231}</string>
			<key>spriteSourceSize</key>
			<string>{594, 589}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{889, 970}, {252, 231}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>show_win_anim_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{203, 205}, {184, 179}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{184, 179}</string>
			<key>spriteSourceSize</key>
			<string>{594, 589}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{385, 1293}, {184, 179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>show_win_anim_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{208, 205}, {178, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{178, 179}</string>
			<key>spriteSourceSize</key>
			<string>{594, 589}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1834}, {178, 179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 48}</string>
			<key>spriteSourceSize</key>
			<string>{48, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 959}, {48, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>teaching_explain_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {194, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{194, 53}</string>
			<key>spriteSourceSize</key>
			<string>{194, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{889, 886}, {194, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>teaching_explain_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {219, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{219, 53}</string>
			<key>spriteSourceSize</key>
			<string>{219, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1582}, {219, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>teaching_explain_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {212, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{212, 24}</string>
			<key>spriteSourceSize</key>
			<string>{212, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2015}, {212, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>teaching_frame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {368, 407}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{368, 407}</string>
			<key>spriteSourceSize</key>
			<string>{368, 407}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1679, 0}, {368, 407}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>teaching_hand.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 84}</string>
			<key>spriteSourceSize</key>
			<string>{100, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{394, 1961}, {100, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_1_model_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{103, 138}</string>
			<key>spriteSourceSize</key>
			<string>{103, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{470, 991}, {103, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_1_model_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{103, 138}</string>
			<key>spriteSourceSize</key>
			<string>{103, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{674, 1564}, {103, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_2_model_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{103, 138}</string>
			<key>spriteSourceSize</key>
			<string>{103, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{723, 1323}, {103, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_2_model_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{103, 138}</string>
			<key>spriteSourceSize</key>
			<string>{103, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{279, 1431}, {103, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_3_model_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{103, 138}</string>
			<key>spriteSourceSize</key>
			<string>{103, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{472, 851}, {103, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_3_model_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{103, 138}</string>
			<key>spriteSourceSize</key>
			<string>{103, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 1291}, {103, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_4_model_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{103, 138}</string>
			<key>spriteSourceSize</key>
			<string>{103, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 1323}, {103, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_4_model_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{103, 138}</string>
			<key>spriteSourceSize</key>
			<string>{103, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{636, 1795}, {103, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>td_ctrl_sprites</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>hd</string>
			<key>textureFileName</key>
			<string>td_ctrl_sprites-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>td_ctrl_sprites-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>