<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bt_back_n.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {58, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{58, 64}</string>
			<key>spriteSourceSize</key>
			<string>{70, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 23}, {58, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bt_help_n.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {43, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{43, 53}</string>
			<key>spriteSourceSize</key>
			<string>{55, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{461, 957}, {43, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bt_option_n.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 6}, {44, 53}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{44, 53}</string>
			<key>spriteSourceSize</key>
			<string>{52, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{506, 957}, {44, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bt_play_n.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 47}</string>
			<key>spriteSourceSize</key>
			<string>{38, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 897}, {38, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>desert_focus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 18}, {204, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, -9}</string>
			<key>spriteSize</key>
			<string>{204, 172}</string>
			<key>spriteSourceSize</key>
			<string>{246, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{481, 321}, {204, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>desert_locked.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 18}, {197, 167}}</string>
			<key>spriteOffset</key>
			<string>{-3, -9}</string>
			<key>spriteSize</key>
			<string>{197, 167}</string>
			<key>spriteSourceSize</key>
			<string>{243, 185}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{621, 669}, {197, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grassland_focus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 15}, {198, 235}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{198, 235}</string>
			<key>spriteSourceSize</key>
			<string>{206, 261}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 672}, {198, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iceland_focus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 0}, {234, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 5}</string>
			<key>spriteSize</key>
			<string>{234, 176}</string>
			<key>spriteSourceSize</key>
			<string>{248, 186}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{688, 321}, {234, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iceland_locked.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {224, 169}}</string>
			<key>spriteOffset</key>
			<string>{-2, 6}</string>
			<key>spriteSize</key>
			<string>{224, 169}</string>
			<key>spriteSourceSize</key>
			<string>{248, 187}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{481, 498}, {224, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level_up.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {44, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{44, 49}</string>
			<key>spriteSourceSize</key>
			<string>{58, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{550, 946}, {44, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lvlup_wind.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {71, 59}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{71, 59}</string>
			<key>spriteSourceSize</key>
			<string>{83, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{455, 897}, {71, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lvlup_wind_cover.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {43, 17}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{43, 17}</string>
			<key>spriteSourceSize</key>
			<string>{49, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 321}, {43, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_help.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 301}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_logo_ch.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 8}, {208, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{208, 76}</string>
			<key>spriteSourceSize</key>
			<string>{220, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 909}, {208, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_logo_en.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {246, 84}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{246, 84}</string>
			<key>spriteSourceSize</key>
			<string>{256, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 911}, {246, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_page.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{481, 0}, {480, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_ranking_list.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{56, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 252}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_setting.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {49, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{49, 49}</string>
			<key>spriteSourceSize</key>
			<string>{57, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{526, 897}, {49, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_start_ch.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {112, 44}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{112, 44}</string>
			<key>spriteSourceSize</key>
			<string>{122, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{662, 883}, {112, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_start_en.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {112, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{112, 45}</string>
			<key>spriteSourceSize</key>
			<string>{118, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{621, 838}, {112, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mission_number.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {60, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 23}</string>
			<key>spriteSourceSize</key>
			<string>{70, 29}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 0}, {60, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_easy.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 46}</string>
			<key>spriteSourceSize</key>
			<string>{45, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{595, 945}, {45, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_easy_focus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{56, 53}</string>
			<key>spriteSourceSize</key>
			<string>{56, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 197}, {56, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_easy_small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 35}</string>
			<key>spriteSourceSize</key>
			<string>{34, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{923, 321}, {34, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_hard.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 46}</string>
			<key>spriteSourceSize</key>
			<string>{45, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{641, 944}, {45, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_hard_focus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{56, 53}</string>
			<key>spriteSourceSize</key>
			<string>{56, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 88}, {56, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_hard_small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 35}</string>
			<key>spriteSourceSize</key>
			<string>{34, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{426, 986}, {34, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 46}</string>
			<key>spriteSourceSize</key>
			<string>{45, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{615, 897}, {45, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_normal_focus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{56, 53}</string>
			<key>spriteSourceSize</key>
			<string>{56, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 143}, {56, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_normal_small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 35}</string>
			<key>spriteSourceSize</key>
			<string>{34, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{391, 986}, {34, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>select_mission.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {144, 38}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{144, 38}</string>
			<key>spriteSourceSize</key>
			<string>{152, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 986}, {144, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>select_mission_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 351}, {480, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>volcano_focus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 22}, {206, 225}}</string>
			<key>spriteOffset</key>
			<string>{9, -4}</string>
			<key>spriteSize</key>
			<string>{206, 225}</string>
			<key>spriteSourceSize</key>
			<string>{224, 261}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{198, 672}, {206, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>volcano_locked.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 22}, {212, 220}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{212, 220}</string>
			<key>spriteSourceSize</key>
			<string>{214, 254}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 672}, {212, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>td_frame_sprites</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>sd</string>
			<key>textureFileName</key>
			<string>td_frame_sprites</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>td_frame_sprites</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>