<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bt_back_n.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 10}, {114, 129}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{114, 129}</string>
			<key>spriteSourceSize</key>
			<string>{140, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1924, 46}, {114, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bt_help_n.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 12}, {87, 106}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{87, 106}</string>
			<key>spriteSourceSize</key>
			<string>{111, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{923, 1915}, {87, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bt_option_n.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 12}, {86, 106}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{86, 106}</string>
			<key>spriteSourceSize</key>
			<string>{104, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1012, 1915}, {86, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bt_play_n.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 94}</string>
			<key>spriteSourceSize</key>
			<string>{76, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1153, 1794}, {76, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>desert_focus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 36}, {411, 344}}</string>
			<key>spriteOffset</key>
			<string>{0, -18}</string>
			<key>spriteSize</key>
			<string>{411, 344}</string>
			<key>spriteSourceSize</key>
			<string>{493, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 642}, {411, 344}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>desert_locked.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 36}, {393, 335}}</string>
			<key>spriteOffset</key>
			<string>{-6, -18}</string>
			<key>spriteSize</key>
			<string>{393, 335}</string>
			<key>spriteSourceSize</key>
			<string>{487, 371}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1242, 1339}, {393, 335}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grassland_focus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 29}, {395, 476}}</string>
			<key>spriteOffset</key>
			<string>{-8, -6}</string>
			<key>spriteSize</key>
			<string>{395, 476}</string>
			<key>spriteSourceSize</key>
			<string>{413, 522}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1344}, {395, 476}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iceland_focus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {469, 353}}</string>
			<key>spriteOffset</key>
			<string>{0, 10}</string>
			<key>spriteSize</key>
			<string>{469, 353}</string>
			<key>spriteSourceSize</key>
			<string>{497, 373}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1376, 642}, {469, 353}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iceland_locked.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 4}, {451, 340}}</string>
			<key>spriteOffset</key>
			<string>{-4, 13}</string>
			<key>spriteSize</key>
			<string>{451, 340}</string>
			<key>spriteSourceSize</key>
			<string>{497, 374}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 997}, {451, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level_up.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 15}, {88, 94}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{88, 94}</string>
			<key>spriteSourceSize</key>
			<string>{116, 122}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1100, 1893}, {88, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lvlup_wind.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 8}, {140, 119}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{140, 119}</string>
			<key>spriteSourceSize</key>
			<string>{166, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{910, 1794}, {140, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lvlup_wind_cover.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 16}, {89, 35}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{89, 35}</string>
			<key>spriteSourceSize</key>
			<string>{99, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 642}, {89, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_help.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 9}, {99, 97}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{99, 97}</string>
			<key>spriteSourceSize</key>
			<string>{117, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1924, 603}, {99, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_logo_ch.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 16}, {415, 152}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{415, 152}</string>
			<key>spriteSourceSize</key>
			<string>{441, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{493, 1819}, {415, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_logo_en.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 15}, {491, 169}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{491, 169}</string>
			<key>spriteSourceSize</key>
			<string>{513, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1822}, {491, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_page.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {960, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{960, 640}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 0}, {960, 640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_ranking_list.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 9}, {99, 97}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{99, 97}</string>
			<key>spriteSourceSize</key>
			<string>{113, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1924, 504}, {99, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_setting.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 10}, {99, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{99, 97}</string>
			<key>spriteSourceSize</key>
			<string>{115, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1052, 1794}, {99, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_start_ch.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 7}, {222, 87}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{222, 87}</string>
			<key>spriteSourceSize</key>
			<string>{244, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1324, 1766}, {222, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_start_en.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {221, 88}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{221, 88}</string>
			<key>spriteSourceSize</key>
			<string>{237, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1242, 1676}, {221, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mission_number.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {118, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{118, 44}</string>
			<key>spriteSourceSize</key>
			<string>{140, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1924, 0}, {118, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_easy.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{91, 93}</string>
			<key>spriteSourceSize</key>
			<string>{91, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1190, 1890}, {91, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_easy_focus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {112, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{112, 107}</string>
			<key>spriteSourceSize</key>
			<string>{112, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1924, 395}, {112, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_easy_small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 71}</string>
			<key>spriteSourceSize</key>
			<string>{68, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1847, 642}, {68, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_hard.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{91, 93}</string>
			<key>spriteSourceSize</key>
			<string>{91, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1283, 1889}, {91, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_hard_focus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {112, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{112, 107}</string>
			<key>spriteSourceSize</key>
			<string>{112, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1924, 177}, {112, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_hard_small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 71}</string>
			<key>spriteSourceSize</key>
			<string>{68, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{853, 1973}, {68, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{91, 93}</string>
			<key>spriteSourceSize</key>
			<string>{91, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1231, 1794}, {91, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_normal_focus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {112, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{112, 107}</string>
			<key>spriteSourceSize</key>
			<string>{112, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1924, 286}, {112, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_normal_small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 71}</string>
			<key>spriteSourceSize</key>
			<string>{68, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{783, 1973}, {68, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {960, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{960, 640}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {960, 640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>select_mission.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {288, 75}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{288, 75}</string>
			<key>spriteSourceSize</key>
			<string>{304, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{493, 1973}, {288, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>select_mission_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {960, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{960, 640}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 702}, {960, 640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>volcano_focus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 43}, {414, 473}}</string>
			<key>spriteOffset</key>
			<string>{17, -18}</string>
			<key>spriteSize</key>
			<string>{414, 473}</string>
			<key>spriteSourceSize</key>
			<string>{448, 523}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{397, 1344}, {414, 473}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>volcano_locked.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 36}, {427, 448}}</string>
			<key>spriteOffset</key>
			<string>{-1, -6}</string>
			<key>spriteSize</key>
			<string>{427, 448}</string>
			<key>spriteSourceSize</key>
			<string>{429, 508}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{813, 1344}, {427, 448}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>td_frame_sprites</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>hd</string>
			<key>textureFileName</key>
			<string>td_frame_sprites-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>td_frame_sprites-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>