<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>upgrade_ strike_2_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {473, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{473, 44}</string>
			<key>spriteSourceSize</key>
			<string>{473, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{874, 980}, {473, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_ strike_3_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {473, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{473, 44}</string>
			<key>spriteSourceSize</key>
			<string>{473, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{988, 764}, {473, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_all_slow_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {118, 120}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{118, 120}</string>
			<key>spriteSourceSize</key>
			<string>{126, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1445, 810}, {118, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_all_slow_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {119, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{119, 121}</string>
			<key>spriteSourceSize</key>
			<string>{123, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{467, 642}, {119, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_cri_add5_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {301, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{301, 44}</string>
			<key>spriteSourceSize</key>
			<string>{301, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1071, 94}, {301, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_power_add10_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 9}, {107, 114}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{107, 114}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 362}, {107, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_power_add10_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 9}, {107, 114}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{107, 114}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1255, 584}, {107, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_power_add10_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 22}, {329, 45}}</string>
			<key>spriteOffset</key>
			<string>{-4, -1}</string>
			<key>spriteSize</key>
			<string>{329, 45}</string>
			<key>spriteSourceSize</key>
			<string>{357, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{657, 764}, {329, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_range_add10_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {119, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{119, 120}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598, 816}, {119, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_range_add10_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {119, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{119, 120}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{477, 842}, {119, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_range_add10_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 23}, {285, 45}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{285, 45}</string>
			<key>spriteSourceSize</key>
			<string>{319, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{874, 933}, {285, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_speed_add10_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {119, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{119, 120}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{830, 642}, {119, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_speed_add10_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {119, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{119, 120}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1324, 810}, {119, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_speed_add10_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 29}, {372, 44}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{372, 44}</string>
			<key>spriteSourceSize</key>
			<string>{396, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1161, 932}, {372, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_attack_unslowed_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 15}, {501, 95}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{501, 95}</string>
			<key>spriteSourceSize</key>
			<string>{543, 121}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1463, 190}, {501, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_back.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {68, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 68}</string>
			<key>spriteSourceSize</key>
			<string>{78, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{462, 772}, {68, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_back_selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {63, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 63}</string>
			<key>spriteSourceSize</key>
			<string>{73, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{532, 765}, {63, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {960, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{960, 640}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {960, 640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_buy_now.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {102, 79}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{102, 79}</string>
			<key>spriteSourceSize</key>
			<string>{110, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 933}, {102, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_cri_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 9}, {107, 114}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{107, 114}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 478}, {107, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_cri_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 9}, {107, 114}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{107, 114}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1255, 468}, {107, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_diamond.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {58, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{58, 50}</string>
			<key>spriteSourceSize</key>
			<string>{68, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{597, 764}, {58, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_dont_att_slow_enemy_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 18}, {480, 92}}</string>
			<key>spriteOffset</key>
			<string>{-12, -0}</string>
			<key>spriteSize</key>
			<string>{480, 92}</string>
			<key>spriteSourceSize</key>
			<string>{528, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1565, 0}, {480, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_explosion_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {119, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{119, 120}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{961, 811}, {119, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_explosion_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {119, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{119, 120}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{951, 642}, {119, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_explosion_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 15}, {501, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{501, 94}</string>
			<key>spriteSourceSize</key>
			<string>{527, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1463, 287}, {501, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_firing_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {107, 116}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{107, 116}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 30}, {107, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_firing_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {107, 116}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{107, 116}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 244}, {107, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_firing_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 14}, {487, 92}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{487, 92}</string>
			<key>spriteSourceSize</key>
			<string>{527, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1072, 0}, {487, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_for_free.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {103, 79}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{103, 79}</string>
			<key>spriteSourceSize</key>
			<string>{111, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{665, 938}, {103, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_lvlup.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {128, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 128}</string>
			<key>spriteSourceSize</key>
			<string>{142, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{337, 642}, {128, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_lvlup_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 10}, {181, 406}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{181, 406}</string>
			<key>spriteSourceSize</key>
			<string>{197, 424}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1072, 287}, {181, 406}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_lvlup_shop.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {256, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{256, 71}</string>
			<key>spriteSourceSize</key>
			<string>{266, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 774}, {256, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_multi_attack_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {121, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{121, 126}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 847}, {121, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_multi_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {121, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{121, 128}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231, 847}, {121, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_multi_attack_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 19}, {498, 92}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{498, 92}</string>
			<key>spriteSourceSize</key>
			<string>{528, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1535, 932}, {498, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_premiums_50pct_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {119, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{119, 120}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{709, 642}, {119, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_premiums_50pct_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {119, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{119, 120}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1203, 810}, {119, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_premiums_50pct_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 18}, {498, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{498, 94}</string>
			<key>spriteSourceSize</key>
			<string>{528, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 148}, {498, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_prolong_land_slow_time_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {119, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{119, 120}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{840, 811}, {119, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_prolong_land_slow_time_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {119, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{119, 120}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{588, 642}, {119, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_prolong_slow_time_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 17}, {517, 94}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{517, 94}</string>
			<key>spriteSourceSize</key>
			<string>{541, 124}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1463, 94}, {517, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_reduce_5coin_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {119, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{119, 120}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1082, 810}, {119, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_reduce_5coin_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {119, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{119, 120}</string>
			<key>spriteSourceSize</key>
			<string>{121, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{719, 811}, {119, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_reduce_5coin_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 22}, {432, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{432, 45}</string>
			<key>spriteSourceSize</key>
			<string>{460, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231, 977}, {432, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_select_frame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {229, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{229, 153}</string>
			<key>spriteSourceSize</key>
			<string>{229, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 854}, {229, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_skill_focus_frame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {131, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{131, 130}</string>
			<key>spriteSourceSize</key>
			<string>{143, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 642}, {131, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_skill_tree_line_1_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 14}, {142, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{142, 102}</string>
			<key>spriteSourceSize</key>
			<string>{168, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1255, 364}, {142, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_skill_tree_line_1_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {158, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{158, 118}</string>
			<key>spriteSourceSize</key>
			<string>{168, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1255, 244}, {158, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_skill_tree_line_2_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 22}, {91, 192}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{91, 192}</string>
			<key>spriteSourceSize</key>
			<string>{131, 236}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{111, 642}, {91, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_skill_tree_line_2_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 13}, {109, 210}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{109, 210}</string>
			<key>spriteSourceSize</key>
			<string>{131, 236}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 642}, {109, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_skill_tree_line_3_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 18}, {90, 10}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{90, 10}</string>
			<key>spriteSourceSize</key>
			<string>{118, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1009}, {90, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_skill_tree_line_3_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {108, 28}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{108, 28}</string>
			<key>spriteSourceSize</key>
			<string>{118, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 0}, {108, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>td_upgrade_sprites</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>hd</string>
			<key>textureFileName</key>
			<string>td_upgrade_sprites-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>td_upgrade_sprites-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>