<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>upgrade_ strike_2_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {236, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{236, 22}</string>
			<key>spriteSourceSize</key>
			<string>{236, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{437, 490}, {236, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_ strike_3_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {236, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{236, 22}</string>
			<key>spriteSourceSize</key>
			<string>{236, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{494, 382}, {236, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_all_slow_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {59, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{59, 61}</string>
			<key>spriteSourceSize</key>
			<string>{63, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{722, 405}, {59, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_all_slow_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {59, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{59, 59}</string>
			<key>spriteSourceSize</key>
			<string>{61, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{233, 321}, {59, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_cri_add5_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 22}</string>
			<key>spriteSourceSize</key>
			<string>{150, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{535, 47}, {150, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_power_add10_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {54, 59}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{54, 59}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{481, 181}, {54, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_power_add10_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {54, 59}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{54, 59}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{627, 292}, {54, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_power_add10_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 10}, {164, 23}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{164, 23}</string>
			<key>spriteSourceSize</key>
			<string>{178, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 382}, {164, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_range_add10_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {58, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 61}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{299, 408}, {58, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_range_add10_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {58, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 61}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 421}, {58, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_range_add10_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 11}, {143, 23}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{143, 23}</string>
			<key>spriteSourceSize</key>
			<string>{159, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{437, 466}, {143, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_speed_add10_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {58, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 61}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{415, 321}, {58, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_speed_add10_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {58, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 61}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{662, 405}, {58, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_att_speed_add10_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {186, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{186, 23}</string>
			<key>spriteSourceSize</key>
			<string>{198, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{580, 466}, {186, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_attack_unslowed_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 7}, {251, 48}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{251, 48}</string>
			<key>spriteSourceSize</key>
			<string>{271, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{731, 95}, {251, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_back.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {35, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{35, 35}</string>
			<key>spriteSourceSize</key>
			<string>{39, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231, 386}, {35, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_back_selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {32, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 31}</string>
			<key>spriteSourceSize</key>
			<string>{36, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 382}, {32, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_buy_now.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {53, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 39}</string>
			<key>spriteSourceSize</key>
			<string>{55, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{385, 466}, {53, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_cri_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {54, 59}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{54, 59}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{481, 239}, {54, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_cri_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {54, 59}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{54, 59}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{627, 234}, {54, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_diamond.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {30, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 24}</string>
			<key>spriteSourceSize</key>
			<string>{34, 28}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 382}, {30, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_dont_att_slow_enemy_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {240, 46}}</string>
			<key>spriteOffset</key>
			<string>{-6, -0}</string>
			<key>spriteSize</key>
			<string>{240, 46}</string>
			<key>spriteSourceSize</key>
			<string>{264, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{782, 0}, {240, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_explosion_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {60, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{60, 61}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{480, 405}, {60, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_explosion_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {58, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 61}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{475, 321}, {58, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_explosion_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {251, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{251, 48}</string>
			<key>spriteSourceSize</key>
			<string>{263, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{731, 143}, {251, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_firing_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {54, 59}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{54, 59}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{481, 15}, {54, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_firing_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {54, 59}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{54, 59}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{481, 122}, {54, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_firing_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {245, 46}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{245, 46}</string>
			<key>spriteSourceSize</key>
			<string>{263, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 0}, {245, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_for_free.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {51, 40}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{51, 40}</string>
			<key>spriteSourceSize</key>
			<string>{55, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{332, 469}, {51, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_lvlup.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {63, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 64}</string>
			<key>spriteSourceSize</key>
			<string>{71, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 321}, {63, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_lvlup_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {90, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{90, 204}</string>
			<key>spriteSourceSize</key>
			<string>{98, 212}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 143}, {90, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_lvlup_shop.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {129, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{129, 36}</string>
			<key>spriteSourceSize</key>
			<string>{133, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 387}, {129, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_multi_attack_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{60, 63}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{177, 423}, {60, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_multi_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{60, 63}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{115, 423}, {60, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_multi_attack_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 9}, {250, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{250, 48}</string>
			<key>spriteSourceSize</key>
			<string>{264, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{767, 466}, {250, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_premiums_50pct_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {58, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 61}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 321}, {58, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_premiums_50pct_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {58, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 61}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{601, 405}, {58, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_premiums_50pct_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 9}, {250, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{250, 48}</string>
			<key>spriteSourceSize</key>
			<string>{264, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{481, 74}, {250, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_prolong_land_slow_time_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {58, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 61}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 405}, {58, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_prolong_land_slow_time_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {58, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 61}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 321}, {58, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_prolong_slow_time_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 8}, {260, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{260, 48}</string>
			<key>spriteSourceSize</key>
			<string>{270, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{731, 47}, {260, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_reduce_5coin_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {58, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 61}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{541, 405}, {58, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_reduce_5coin_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {58, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 61}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{359, 405}, {58, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_reduce_5coin_explain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {216, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{216, 23}</string>
			<key>spriteSourceSize</key>
			<string>{230, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{115, 488}, {216, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_select_frame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {114, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 76}</string>
			<key>spriteSourceSize</key>
			<string>{114, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 427}, {114, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_skill_focus_frame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {65, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{65, 65}</string>
			<key>spriteSourceSize</key>
			<string>{71, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 321}, {65, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_skill_tree_line_1_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {72, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{72, 52}</string>
			<key>spriteSourceSize</key>
			<string>{84, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{627, 182}, {72, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_skill_tree_line_1_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {78, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{78, 60}</string>
			<key>spriteSourceSize</key>
			<string>{84, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{627, 122}, {78, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_skill_tree_line_2_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 11}, {47, 96}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{47, 96}</string>
			<key>spriteSourceSize</key>
			<string>{65, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{55, 321}, {47, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_skill_tree_line_2_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {55, 104}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{55, 104}</string>
			<key>spriteSourceSize</key>
			<string>{65, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 321}, {55, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_skill_tree_line_3_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 8}, {47, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 7}</string>
			<key>spriteSourceSize</key>
			<string>{59, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 504}, {47, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_skill_tree_line_3_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {55, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{55, 15}</string>
			<key>spriteSourceSize</key>
			<string>{59, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{481, 0}, {55, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>td_upgrade_sprites</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>sd</string>
			<key>textureFileName</key>
			<string>td_upgrade_sprites</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>td_upgrade_sprites</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>